<!DOCTYPE html>
<!-- templates/base.html -->
{% load static %}

<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mock Draft{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/draft_board.css' %}">
    </head>

    <body>

        <header>
            <nav id ="nav_menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'mock_settings' %}">Mock Now</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'draft_history' %}">Draft History</a></li>
                    {% endif %}
                </ul>
            </nav>

            <h1>My Fantasy Draft Site</h1>

            {% if user.is_authenticated %}
                <div class="account-dropdown">
                    <button class="account-button">{{ user.username }}</button>
                    <div class="account-menu">
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">Logout</button>
                        </form>
                        <a href="{% url 'password_change' %}" class="logout-button">Password Change</a>
                    </div>

                </div>
            {% else %}
                <div class="auth-links">
                    <a href="{% url 'login' %}">Log In</a>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </div>
            {% endif %}

        </header>

        {% block breadcrumbs %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </body>
    <footer>
        
    </footer>
</html>