<!DOCTYPE html>
<!-- templates/base.html -->
{% load static %}

<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mock Draft{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        <header>
            <nav id ="nav_menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'mock_now' %}">Mock Now</a></li>
                    <li><a href="{% url 'draft_history' %}">Draft History</a></li>
                </ul>
            </nav>
            <h1>My Fantasy Draft Site</h1>
        </header>

            {% block content %}
            <!-- Default content if not overridden -->
            {% endblock %}
    </body>
    <footer>
        
    </footer>
</html>